@import "./Variables.scss";
@import "./mixins.scss";
@import "./layout.scss";
@import "./allsass.scss";
@import "./responsiveness.scss";

// base
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0 0 $header-height 0;
  font-family: $body-font;
  font-size: $paragraph-font;
  background-color: var(--body-color);
  color: var(--description-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: $semi-bold;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

.section {
  @include section;
}
.section-title {
  @include section-title;
}
.section-subtitle {
  @include section-subtitle;
}

.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}
